body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('img/sky-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
